/Saku Overclock/bin/
/Saku Overclock/obj/
/Saku Overclock.Core/bin/
/Saku Overclock.Core/obj/
/packages/
/.vs/
/.github/
/.git/
.editorconfig
.vsconfig
.filenesting.json
global.json
Saku Overclock.sln.DotSettings.user
ZenStates-Core.dll
/Saku Overclock/README.md
/.idea/.idea.Saku Overclock/.idea
