/Saku Overclock/bin/
/Saku Overclock/obj/
/packages/
/.vs/
/.github/
/.git/
.editorconfig
.vsconfig
.filenesting.json
global.json
Saku Overclock.sln.DotSettings.user
ZenStates-Core.dll
ZenStates-Core-Backup-OLD.dll
ZenStates-Core-new.dll
/Saku Overclock/README.md
/Saku Overclock/obj/x64/Debug/net7.0-windows10.0.19041.0/win10-x64/embed/ProfileSwitcher/ProfileSwitcher.xbf
/Saku Overclock/obj/x64/Debug/net7.0-windows10.0.19041.0/win10-x64/embed/Styles/ComboBoxCollapseLauncher.xbf
/Saku Overclock/obj/x64/Debug/net7.0-windows10.0.19041.0/win10-x64/embed/Styles/FontSizes.xbf
/Saku Overclock/obj/x64/Debug/net7.0-windows10.0.19041.0/win10-x64/embed/Styles/TextBlock.xbf
/Saku Overclock/obj/x64/Debug/net7.0-windows10.0.19041.0/win10-x64/embed/Styles/Thickness.xbf
/Saku Overclock/obj/x64/Debug/net7.0-windows10.0.19041.0/win10-x64/embed/Styles/ToggleButtonCollapseLauncher.xbf
/Saku Overclock/obj/x64/Debug/net7.0-windows10.0.19041.0/win10-x64/embed/Views/AdvancedКулерPage.xbf
/Saku Overclock/obj/x64/Debug/net7.0-windows10.0.19041.0/win10-x64/embed/Views/PowerWindow.xbf
/Saku Overclock/obj/x64/Debug/net7.0-windows10.0.19041.0/win10-x64/embed/Views/SettingsPage.xbf
/Saku Overclock/obj/x64/Debug/net7.0-windows10.0.19041.0/win10-x64/embed/Views/ShellPage.xbf
/Saku Overclock/obj/x64/Debug/net7.0-windows10.0.19041.0/win10-x64/embed/Views/ГлавнаяPage.xbf
/Saku Overclock/obj/x64/Debug/net7.0-windows10.0.19041.0/win10-x64/embed/Views/КулерPage.xbf
/Saku Overclock/obj/x64/Debug/net7.0-windows10.0.19041.0/win10-x64/embed/Views/ИнформацияPage.xbf
/Saku Overclock/obj/x64/Debug/net7.0-windows10.0.19041.0/win10-x64/embed/Views/ПараметрыPage.xbf
/Saku Overclock/obj/x64/Debug/net7.0-windows10.0.19041.0/win10-x64/embed/Views/ПресетыPage.xbf
/Saku Overclock/obj/x64/Debug/net7.0-windows10.0.19041.0/win10-x64/embed/App.xbf
/Saku Overclock/obj/x64/Debug/net7.0-windows10.0.19041.0/win10-x64/embed/embed.resfiles
/Saku Overclock/obj/x64/Debug/net7.0-windows10.0.19041.0/win10-x64/embed/MainWindow.xbf
/Saku Overclock/obj/x64/Debug/net7.0-windows10.0.19041.0/win10-x64/embed/embed.resfiles.intermediate
/Saku Overclock/obj/x64/Debug/net7.0-windows10.0.19041.0/win10-x64/intermediatexaml/Saku Overclock.dll
/Saku Overclock/obj/x64/Debug/net7.0-windows10.0.19041.0/win10-x64/intermediatexaml/Saku Overclock.pdb
/Saku Overclock/obj/x64/Debug/net7.0-windows10.0.19041.0/win10-x64/Manifests/WindowsAppSDK.manifest
/Saku Overclock/obj/x64/Debug/net7.0-windows10.0.19041.0/win10-x64/Manifests/app.manifest
/Saku Overclock/obj/x64/Debug/net7.0-windows10.0.19041.0/win10-x64/MsixContent/af-ZA/Microsoft.ui.xaml.dll.mui
/Saku Overclock/obj/x64/Debug/net7.0-windows10.0.19041.0/win10-x64/MsixContent/af-ZA/Microsoft.UI.Xaml.Phone.dll.mui
/Saku Overclock/obj/x64/Debug/net7.0-windows10.0.19041.0/win10-x64/refint/Saku Overclock.dll
/Saku Overclock/obj/x64/Debug/net7.0-windows10.0.19041.0/win10-x64/ref/Saku Overclock.dll
/Saku Overclock/obj/x64/Debug/net7.0-windows10.0.19041.0/win10-x64/ProfileSwitcher/ProfileSwitcher.g.cs
/Saku Overclock/bin/x64/Debug/net7.0-windows10.0.19041.0/win10-x64/Saku Overclock.dll
/Saku Overclock/bin/x64/Debug/net7.0-windows10.0.19041.0/win10-x64/Saku Overclock.exe
/Saku Overclock/obj/x64/Debug/net7.0-windows10.0.19041.0/win10-x64/embed/Views/ИнформацияPage.xbf
/Saku Overclock/obj/x64/Debug/net7.0-windows10.0.19041.0/win10-x64/intermediatexaml/Saku Overclock.dll
/Saku Overclock/obj/x64/Debug/net7.0-windows10.0.19041.0/win10-x64/ref/Saku Overclock.dll
/Saku Overclock/obj/x64/Debug/net7.0-windows10.0.19041.0/win10-x64/refint/Saku Overclock.dll
/Saku Overclock/obj/x64/Debug/net7.0-windows10.0.19041.0/win10-x64/Views/ИнформацияPage.g.cs
/Saku Overclock/obj/x64/Debug/net7.0-windows10.0.19041.0/win10-x64/Views/ИнформацияPage.g.i.cs
/Saku Overclock/obj/x64/Debug/net7.0-windows10.0.19041.0/win10-x64/Views/ИнформацияPage.xaml
/Saku Overclock/obj/x64/Debug/net7.0-windows10.0.19041.0/win10-x64/Views/ИнформацияPage.xbf
/Saku Overclock/obj/x64/Debug/net7.0-windows10.0.19041.0/win10-x64/apphost.exe
/Saku Overclock/obj/x64/Debug/net7.0-windows10.0.19041.0/win10-x64/Saku Overclock.AssemblyInfo.cs
/Saku Overclock/obj/x64/Debug/net7.0-windows10.0.19041.0/win10-x64/Saku Overclock.AssemblyInfoInputs.cache
/Saku Overclock/obj/x64/Debug/net7.0-windows10.0.19041.0/win10-x64/Saku Overclock.dll
/Saku Overclock/obj/x64/Debug/net7.0-windows10.0.19041.0/win10-x64/Saku Overclock.pdb
/Saku Overclock/obj/x64/Debug/net7.0-windows10.0.19041.0/win10-x64/XamlSaveStateFile.xml
/Saku Overclock/obj/x64/Debug/net7.0-windows10.0.19041.0/win10-x64/Saku Overclock.sourcelink.json
