[submodule "Saku Overclock.Shared"]
	path = Saku Overclock.Shared
	url = https://github.com/Erruar/Saku-Overclock.Shared
[submodule "Saku Overclock.Core"]
	path = Saku Overclock.Core
	url = https://github.com/Erruar/Saku-Overclock.Core
[submodule "Saku Overclock.CrashHandler"]
	path = Saku Overclock.CrashHandler
	url = https://github.com/Erruar/Saku-Overclock.CrashHandler
[submodule "ZenStates.Core"]
	path = ZenStates.Core
	url = https://github.com/irusanov/ZenStates-Core
	branch = dev
