<?xml version="1.0" encoding="utf-8"?>
<Project>
  <PropertyGroup>
    <!-- Куда публиковать -->
    <PublishProtocol>FileSystem</PublishProtocol>
    <PublishDir>bin\$(Configuration)\$(TargetFramework)\$(RuntimeIdentifier)\publish\</PublishDir>

    <!-- Целевая платформа -->
    <Platform>x64</Platform>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>

    <!-- Самодостаточная сборка -->
    <SelfContained>true</SelfContained>

    <!-- Единый exe -->
    <PublishSingleFile>false</PublishSingleFile>

    <!-- ReadyToRun: отключаем в Debug, включаем в Release -->
    <PublishReadyToRun Condition="'$(Configuration)' == 'Debug'">false</PublishReadyToRun>
    <PublishReadyToRun Condition="'$(Configuration)' != 'Debug'">true</PublishReadyToRun>
  </PropertyGroup>
</Project>
